<style>
  .about-section {
    width: 70%;
    padding: 60px 0;
    text-align: center;
    margin: auto;
  }
  .about-section .icon {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .about-section .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
  }
  .about-section .icon-container h4 {
    margin: 0;
    font-size: 1.5rem;
  }
  .about-section .row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Prevent wrapping */
  }
</style>

<section class="about-section">
    <h1 class="display-4">About Us</h1>
    <p class="lead">We are a community dedicated to enhancing cybersecurity awareness and education. Join us in our mission to make the digital world a safer place. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat, nesciunt, provident eveniet veniam recusandae autem nemo a pariatur non aperiam beatae rem asperiores nulla harum alias ullam odio incidunt.</p>
    
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-3 icon-container">
          <i class="bi bi-person icon"></i>
          <h4>Members</h4>
          <p>50</p>
        </div>
        <div class="col-md-3 icon-container">
          <i class="bi bi-calendar icon"></i>
          <h4>Events</h4>
          <p>10</p>
        </div>
        <div class="col-md-3 icon-container">
          <i class="bi bi-envelope icon"></i>
          <h4>Newsletter</h4>
          <p>300+</p>
        </div>
        <div class="col-md-3 icon-container">
          <i class="bi bi-people icon"></i>
          <h4>Officers</h4>
          <p>8</p>
        </div>
      </div>
    </div>
  </section>
  