<div class="container-fluid text-center" style="background-color: #e9ecef; padding: 30px; border-radius: 8px;">
    <h1>Upcoming Events</h1>
    <p class="text-muted h2">There are no upcoming events.</p>
    <a href="/events" class="btn btn-link">Discover more events</a>
  </div>
  