<%- include('partials/header') %>
<%- include('partials/nav-nofix') %>
<%- include('partials/contact') %>
<%- include('partials/footer') %>
<style>
    body {
  overflow: hidden; /* Hide scrollbars */
}
</style>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>